<h1>Drawboards#new</h1>
<%= form_with model: @sketch, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.submit "Create new board" %>
  </div>
<% end %>
