<h1>Drawboards#show</h1>
<ul>
  <li>id: <%= @sketch.id %></li>
  <li>title: <%= @sketch.title %></li>
  <li>author_id: <%= @sketch.author_id %></li>
  <pre><code><%= @sketch.content %></code></pre>
</ul>
