<h1>Articles</h1>
<div data-controller="hello"></div>
<% @articles.each do |article| %>
  <div>
    <h2><%= link_to article.title, article_path(article) %></h2>
    <p>By <%= article.author.email %></p>
    <p><%= truncate(strip_tags(article.content.to_s), length: 100) %></p>
  </div>
<% end %>

<%= link_to 'New Article', new_article_path if user_signed_in? %>
