<h1>Drawboards#show</h1>
<ul>
  <li>id: <%= @drawboard.id %></li>
  <li>title: <%= @drawboard.title %></li>
  <li>author_id: <%= @drawboard.author_id %></li>
  <pre><code><%= @drawboard.content %></code></pre>
</ul>
