.border-light {
    @apply border-opacity-25 border-black;
}

#tiptap-editor .ProseMirror, .article {
    @apply font-serif focus:outline-none mx-auto mb-20 px-3 md:w-[750px];

    strong, h1, h2, h3 {
        @apply font-semibold;
    }

    h1, h2, h3 {
        @apply font-sans;

        code {
            @apply break-words;
        }
    }

    h1 {
        @apply text-4xl mb-14 mt-16;
    }

    h2 {
        @apply text-2xl mb-5 mt-12 scroll-mt-14;
    }

    h3 {
        @apply text-xl leading-9 mt-5 scroll-mt-10;
    }

    h1 code, h2 code, h3 code {
        @apply tracking-tight px-1 text-[0.9em];
        word-spacing: -4px;
    }

    p {
        @apply font-serif font-normal text-xl tracking-tight leading-8 my-4;
        word-spacing: 1px;


        strong {
            @apply font-semibold;
        }

        code {
            @apply text-base tracking-tight text-cyan-700 font-medium px-[2px];
            word-spacing: -4px;
        }
    }


    h2 + p, h3 + p {
        @apply mt-0;
    }


    /* placeholder */

    h1, p {
        &.is-empty::before {
            content: attr(data-placeholder);
            @apply text-stone-400 pointer-events-none h-0 float-left;
        }
    }

    .is-empty .details-summary::before {
        content: "Summary";
        @apply absolute text-stone-400 pointer-events-none;
    }


    blockquote {
        p {
            @apply text-2xl leading-loose text-center text-gray-500 m-14 relative;

            &::before {
                @apply text-gray-300 absolute -ml-14 -mt-10 text-9xl;
                content: "“";
            }
        }
    }

    .code-block-wrap {
        @apply my-4 rounded-md border border-light bg-white relative overflow-clip;
    }

    pre {
        @apply text-sm  pl-2 pb-2 pt-9;

        code {
            @apply text-sm overflow-x-auto leading-relaxed !p-0 thin-scrollbar;
        }

    }

    .code-language-label {
        @apply font-mono text-xs flex absolute top-2 left-2 px-1 bg-black text-white rounded;

        &::before {
            content: '';
            background: url("../images/w-code.svg");
            @apply inline-block w-[18px] h-[18px] relative mr-[2px];
        }
    }

    .actions {
        @apply absolute right-2 h-full;

        .copy-code-button {
            @apply sticky top-12 bg-white shadow-elevation-sm flex rounded font-sans text-sm my-2 px-2 py-1;

            &::before {
                content: '';
                background: url("../images/w-copy.svg");
                @apply inline-block w-[18px] h-[18px] relative mr-1 top-[1px];
            }

            &.copy-success {
                &::before {
                    background: url("../images/w-check.svg");
                }
            }
        }
    }

    ul, ol {
        @apply list-outside;
    }

    & > ul, & > ol, .details-content > ul, .details-content > ol {
        @apply ml-6;
    }

    ol ol, ol ul, ul ol, ul ul {
        @apply pl-6;
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }

    li {
        @apply leading-none text-xl;

        p {
            @apply my-0;
        }
    }

    ul li {
        @apply marker:text-lg;
    }

    p:has(+ol), p:has(+ul) {
        @apply mb-0;
    }

    hr {
        @apply h-[24px] my-12 border-none;

        &::after {
            @apply h-[24px] align-middle font-mono block text-center tracking-wider text-2xl;
            content: '· · ·';
        }
    }

    em {
        @apply tracking-normal;
    }

    a {
        @apply underline underline-offset-[5px] break-words decoration-stone-300 hover:decoration-stone-600;

        &::after {
            @apply inline-block w-[18px] h-[18px] relative bottom-[2px] ml-[2px];
        }

        &.external::after {
            content: '';
            background: url('../images/external-link.svg');
        }

        &.internal::after {
            content: '';
            background: url('../images/file-text.svg');
        }

        &.footnote-ref {
            @apply underline-offset-1 font-sans font-bold px-1 text-xs min-w-3 inline-block;
        }
    }

    s {
        text-decoration-color: rgba(0, 0, 0, 0.6);
    }

    .image {
        @apply mx-auto my-4;
    }

    figure {
        img {
            @apply mx-auto mt-4 mb-2;
        }

        figcaption {
            @apply text-center tracking-wide text-gray-500 focus:outline-none mb-4 h-6 relative;

            &.empty::after {
                content: "Enter caption here...";
                @apply opacity-65 absolute top-0 -translate-x-1/2 pointer-events-none;
            }
        }

        &.img-20 {
            img {
                @apply w-[20%];
            }
        }

        &.img-50 {
            img {
                @apply w-[50%];
            }
        }

        &.img-100 {
            img {
                @apply w-full;
            }
        }

        &.img-original {
            img {
                @apply w-auto;
            }
        }
    }

    /* selected node */

    .ProseMirror-selectednode {
        @apply shadow-elevation-md active:shadow-elevation transition-all border-transparent rounded-sm;
    }

    /* attachment */

    attachment {
        @apply block rounded-md border border-light py-2 my-2;

        .download-link {
            @apply no-underline pl-3 block relative;

            &::after {
                content: '';
                @apply absolute right-5 top-2 w-7 h-7 bg-no-repeat;
                background-image: url('../images/file-download.svg');
                background-size: 28px 28px;

            }
        }

        .download-link-label {
            @apply text-gray-400 text-sm block;
        }

        audio {
            @apply w-full bg-white px-2;
        }

        .audio-label {
            @apply pl-3;
        }

        video {
            @apply px-2;
        }

        .video-label {
            @apply pl-3 pb-2 block;
        }
    }

    .inline-image {
        img {
            @apply inline h-[18px] mb-1;
        }
    }

    .task-list, .todo-list {
        @apply list-none m-0 pl-0;

        li {
            @apply flex;

            label {
                @apply mr-2;

                input {
                    @apply mt-2 ml-0.5;
                }
            }

            div {
                p {
                    @apply pl-[1px];
                }
            }
        }
    }

    table {
        @apply border border-light  py-4 w-full overflow-hidden table-fixed border-collapse;

        td, th {
            @apply border border-light min-w-4 min-h-6 relative align-top box-border;

            p {
                @apply my-1 mx-2 text-base;
                code {
                    @apply text-[0.9em];
                }
            }
        }

        tr:hover, col:hover {
            @apply bg-gray-200;
        }

        th {
            p {
                @apply font-semibold text-left;
            }
        }

        .selectedCell:after {
            content: "";
            @apply bg-blue-300 absolute inset-0 pointer-events-none opacity-30;
        }

        .column-resize-handle {
            @apply absolute bg-black pointer-events-none top-0 right-[-1px] bottom-[-2px] w-[3px] z-10;
        }
    }

    .tableWrapper {
        @apply overflow-x-auto thin-scrollbar;
    }

    &.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }

    .details {
        @apply flex my-4;

        &.details-open {
            @apply border-b border-light;
        }



        & > button {
            @apply relative w-8 flex-shrink-0;

            &::before {
                @apply w-6 h-6 inline-block absolute top-[2px] left-0;
                content: "";
                background: url("../images/square-rounded-plus-filled.svg");
            }
        }

        .details-summary {
            @apply list-none text-xl h-8  pl-[1px] ;
        }

        .details-content {
            p {
                @apply my-0;
                a {
                    @apply break-all;
                }
            }

            .details {
                @apply mb-0 border-0;
            }
        }
    }

    .details-open {
        & > button {
            &::before {
                background: url("../images/square-rounded-minus-filled.svg");
            }
        }
    }

    .youtube {
        @apply my-2;
    }

    ol.footnotes {
        @apply ml-0 pt-10;
        li {
            @apply ml-5;
        }
        &:has(li) {
            @apply border-t border-light;
        }
    }
    iframe[src*="figma.com"] {
        @apply w-full my-4 border border-light;
    }
}

/* for editor only */
#tiptap-editor .ProseMirror {
    a {
        @apply cursor-text;
    }
}

/* for display only */
.article {
    .details-summary {
        @apply cursor-pointer ml-8 relative;

    }

    .details-content {
        @apply ml-8;
    }

    .details .details-summary::before {
        content: "";
        @apply absolute -left-8 top-[2px] h-6 w-6;
    }

    .details[open] .details-summary::before {
        background: url("../images/square-rounded-minus-filled.svg");
    }

    .details:not([open]) .details-summary::before {
        background: url("../images/square-rounded-plus-filled.svg");
    }
}
