.modal-mask {
    @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center;
}

.toolbar {
    @apply sticky top-0 z-10 relative;

    .control-group {
        @apply text-white bg-gray-600 flex gap-1 w-full overflow-x-auto pl-1 pr-20 sm:pr-36;

        &::-webkit-scrollbar {
            display: none;
        }

    }

    .button-group {
        @apply flex justify-center flex-shrink-0 border-r pr-1 border-r-gray-400;

        button {
            svg {
                @apply rounded border-transparent border;
            }
        }
    }

    .button-group-2 {
        @apply shadow-elevation-md bg-white rounded-sm text-gray-500 flex flex-shrink-0;
    }

    button {
        @apply p-1;
    }

    button[disabled] {
        @apply text-gray-400;
    }

    .fixed-buttons {
        @apply absolute right-0 pr-2 top-0 bg-gray-600 text-white flex text-sm;

        button {
            @apply border-gray-400 border-l z-30 flex gap-1 pr-1 items-center;

            span {
                @apply tracking-wide hidden sm:inline-block;
            }
        }
    }
}

/* Spin animation */
.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.emoji-dropdown {
    @apply flex flex-col shadow-elevation-md rounded bg-white gap-1 p-1;

    button {
        @apply p-1 flex gap-1 w-full text-left text-gray-500 font-mono text-sm;

        &:hover, &:hover.is-selected, &.is-selected {
            @apply bg-gray-300 text-black;
        }

        img {
            @apply h-5 w-5;
        }
    }
}

.btn {

}
