.modal-mask {
    @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center;
}

.toolbar {
    @apply sticky top-0 z-[10000] relative;

    .control-group {
        @apply text-white bg-gray-600 flex sm:gap-1 w-full overflow-x-auto pl-1 pr-20 sm:pr-36;

        &::-webkit-scrollbar {
            display: none;
        }

    }

    .button-group {
        @apply flex justify-center flex-shrink-0 border-r pr-1 border-r-gray-400;

        button {
            svg {
                @apply rounded border-transparent border;
            }
        }
    }

    .button-group-2 {
        @apply shadow-elevation-md bg-white rounded-sm text-gray-500 flex flex-shrink-0;
    }

    button {
        @apply p-2 sm:p-1;
    }

    button[disabled] {
        @apply text-gray-400;
    }

    .fixed-buttons {
        @apply absolute right-0 top-0 bg-gray-600 text-white flex text-sm;

        button {
            @apply border-gray-400 border-l z-30 flex gap-1 px-2 items-center;

            span {
                @apply tracking-wide hidden sm:inline-block;
            }
        }
    }
}

/* Spin animation */
.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.emoji-dropdown {
    @apply flex flex-col shadow-elevation-md rounded bg-white gap-1 p-1;

    button {
        @apply p-1 flex gap-1 w-full text-left text-gray-500 font-mono text-sm;

        &:hover, &:hover.is-selected, &.is-selected {
            @apply bg-gray-300 text-black;
        }

        img {
            @apply h-5 w-5;
        }
    }
}

.floating-menu, .bubble-menu {
    @apply shadow-elevation-md bg-white rounded-sm text-gray-500 flex;

    button {
        @apply p-1;

        &.is-active {
            @apply text-black bg-gray-300;
        }
    }
}

.bubble-menu {
    @apply mb-7 sm:mb-0;
}

#expandToc {
    @apply absolute h-full right-0 top-24 ;
    .container {
        @apply sticky top-10 shadow-elevation-lg rounded-bl rounded-tl p-1 text-gray-500 bg-white cursor-pointer;

        span {
            @apply text-sm font-semibold font-mono inline-block;
            writing-mode: vertical-rl;
        }

        svg {
            @apply w-5 h-5 mb-2;
        }
    }
}

#table-of-contents {

}

.toc-container {
    @apply absolute right-0 top-24 h-[calc(100%-16px)] z-10 w-[calc((100%-750px)/2)] bg-white rounded-bl-lg rounded-tl-lg;

    &.floating {
        @apply shadow-elevation-lg w-48 pl-3;
    }

    #toc {
        font-size: 13px;
        @apply sticky tracking-wide top-10 sm:text-xs ;

        .title {
            @apply font-semibold py-2 border-b border-light flex items-center justify-between;
            svg {
                @apply text-gray-500 w-5 h-5 mr-1;
            }
        }

        ul {
            @apply flex flex-col text-gray-500 pt-2 font-medium h-[calc(100vh-70px)] overflow-y-scroll thin-scrollbar;

            li {
                &.active {
                    @apply text-blue-400;

                    a:hover {
                        @apply text-blue-400;
                    }
                }

                a {
                    @apply py-1 leading-tight block break-words;

                    &:hover {
                        @apply text-black;
                    }
                }
            }

            .h3 {
                @apply ml-4;
            }
        }
    }
}

#back-to-top {
    @apply fixed bottom-2 right-2 font-semibold text-lg  w-10 h-10 bg-gray-600 text-white rounded shadow-elevation z-20;
    @apply sm:w-12 sm:h-12 sm:bottom-[12px] sm:right-[12px] sm:text-xl;
}
