#tiptap-editor .ProseMirror, .article {
}

body {
    &.global-bg {
        @apply bg-no-repeat bg-cover bg-fixed;
        background-image: url(https://fly.io/phx/ui/images/app-shapes-e20dd6e0903d3a31595108e6e1052a1e.webp?vsn=d);
    }
}

header {
    @apply bg-white z-50 flex items-center gap-1 h-10 shadow-elevation-sm;

    .logo {
        @apply ml-3 py-2;
    }

    .breadcrumb {
        @apply flex gap-1 items-center;

        .item {
            @apply pl-2;

            &::before {
                @apply relative top-0 right-[6px] text-stone-400;
                content: '/';
            }
        }
    }

    .actions {
        @apply ml-auto flex mr-1 sm:mr-0;

        .action {
            @apply pr-1 sm:pr-3 relative text-sm font-semibold pl-9 text-gray-800 rounded flex-shrink-0 h-10 leading-6 py-2;

            &::before {
                content: '';
                @apply inline-block h-[24px] w-[24px] bg-no-repeat absolute top-2 left-2;
            }

            &:hover {
                @apply bg-stone-200;
            }
            span {
                @apply hidden sm:inline;
            }
        }

        .edit-button {
            &::before {
                background: url("../../assets/images/edit.svg");
            }
        }

        .search-button {
            &::before {
                background: url("../../assets/images/search.svg");
            }
        }

        .export-button {
            &::before {
                background: url("../../assets/images/file-export.svg");
            }
        }

        .share-button {
            &::before {
                background: url("../../assets/images/share.svg");
            }
        }

        .read-button {
            &::before {
                background: url("../../assets/images/book.svg");
            }
        }
    }
}

#back-to-top {
    @apply fixed bottom-2 right-2 font-semibold text-lg  w-10 h-10 bg-black text-white rounded shadow-elevation;
    @apply sm:w-12 sm:h-12 sm:bottom-[12px] sm:right-[12px] sm:text-xl sm:hover:bg-black;
}

footer {
    p {
        .co-branded-logo {
            @apply h-5 w-[200px] mx-auto block py-12 bg-no-repeat bg-center;
            background-image: url(../images/extropy-noteos.svg);
        }
    }

    .copyright-notice {
        @apply text-gray-300 py-4 font-sans text-center text-xs bg-black border-t border-gray-500 tracking-wider;
    }
}
