#tiptap-editor .ProseMirror, .article {
}

body {

}

header {
    @apply bg-white z-50 flex items-center gap-1 h-10 shadow-elevation-xs bg-opacity-30 backdrop-blur-md;

    .logo {
        @apply ml-3 py-2;
    }

    .breadcrumb {
        @apply flex gap-1 items-center;

        .item {
            @apply pl-2;

            &::before {
                @apply relative top-0 right-[6px] text-stone-400;
                content: '/';
            }
        }
    }

    .actions {
        @apply ml-auto flex mr-0;

        .action {
            @apply pr-1 sm:pr-2 relative text-sm font-semibold pl-9 text-gray-800 rounded flex-shrink-0 h-10 leading-6 py-2;

            &::before {
                content: '';
                @apply inline-block h-[24px] w-[24px] bg-no-repeat absolute top-2 left-2;
            }

            &:hover {
                @apply bg-stone-200;
            }

            span {
                @apply hidden sm:inline;
            }
        }

        .edit-button {
            &::before {
                background: url("../../assets/images/edit.svg");
            }
        }

        .search-button {
            &::before {
                background: url("../../assets/images/search.svg");
            }
        }

        .export-button {
            &::before {
                background: url("../../assets/images/file-export.svg");
            }
        }

        .share-button {
            &::before {
                background: url("../../assets/images/share.svg");
            }
        }

        .read-button {
            &::before {
                background: url("../../assets/images/book.svg");
            }
        }
    }
}

main {
}

footer {
    @apply bg-black;

    p {
        .co-branded-logo {
            @apply h-5 w-[200px] mx-auto block py-12 bg-no-repeat bg-center;
            background-image: url(../images/extropy-noteos.svg);
        }
    }

    .copyright-notice {
        @apply text-gray-300 py-4 font-sans text-center text-xs bg-black border-t border-gray-500 tracking-wider;
    }
}

/* for visitor only */
.logo-container {
    @apply flex gap-1 sticky top-0;
}
.logo {
    @apply hidden lg:inline-block h-[20px] ml-4 mt-3 z-30 ;
}
.badge {
    @apply hidden lg:inline-block;
}

#profile {
    @apply w-full std:w-[750px] mx-auto relative lg:-top-10;
}
