::-webkit-scrollbar {
    @apply h-[13px] w-[13px];
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.55);
}

.thin-scrollbar::-webkit-scrollbar {
    @apply h-[5px] w-[5px];
}

@media (max-width: 640px) { /* Adjust the width as needed */
    ::-webkit-scrollbar {
        display: none;
    }
}
