::-webkit-scrollbar {
    @apply h-[6px] w-[6px];
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply rounded;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.55);
}

@media (max-width: 640px) { /* Adjust the width as needed */
    ::-webkit-scrollbar {
        display: none;
    }
}
