<% content_for :specific_header do %>
  <div class="logo-container">
    <a class="logo" href="/">
      <picture class="inline-block">
        <source srcset="https://fly.storage.tigris.dev/vite/noteOS/images/icon.svg" media="(max-width: 640px)"/>
        <img class="h-7 sm:h-5" src="https://fly.storage.tigris.dev/vite/images/noteOS.svg" alt="noteOS logo"/>
      </picture>
    </a>
    <img class="badge" src="https://fly.storage.tigris.dev/vite/images/badge-beta.svg" title='"Public Profile" is a test feature of noteOS'/>
  </div>
<% end %>
<%= render template: "layouts/application" %>
