<% content_for :specific_header do %>
    <a class="logo" href="/">
      <picture class="inline-block">
        <source srcset="https://fly.storage.tigris.dev/vite/noteOS/images/icon.svg" media="(max-width: 640px)"/>
        <img class="h-7 sm:h-5" src="https://fly.storage.tigris.dev/vite/images/noteOS.svg" alt="noteOS logo"/>
      </picture>
    </a>
<% end %>
<%= render template: "layouts/application" %>
